$color-hover-primary: #007bff;
$color-text-primary: #fff;
$primary-color: #fed700;
$active-blue: #1868dd;
$blur-color-hover: #ffffff;
// Header
// header-top
$bg-header-top: #F5F5F5;
$color-grey: #D7D7D7;
$color-login: #222;

// header-middle
$color-charcoal: #464646;
$border-img: #D7D7D7;
$bg-drop-down: #FFFFFF;
$border-drop-down: #f0f0f0;
$color-badge-green: #83B735;
$color-badge-yellow: #fed700;
//----- dropdown grallery
$bg-drop-down-grallery: #1E212A;
$color-text-grallery: #fff;
$color-lead: #999;
$color-content-grallery: #727173;
//----- heart & cart
$color-primary-value: #fff;
//---heart
$color-value-heart: #565656;
$bg-value-heart: #F0F0F0;
//---cart
$bg-value-cart: #fed700;


// header-bottom
//left
//--- dropdown categories
$bg-color-categories: #fff;
$bor-b-color-categories: #ededed;
$color-text-categories: #101010;
$color-hover-categories: #0063d1;
//--- dropdown electron
$bg-color-electron: #ffffff;
$color-text-electron: #222;
//--- dropdown women
$bg-color-women: #ffffff;
$border-color-women: #ededed;
$title-color-women: #101010;
$link-color-women: #777;
//--- dropdown office,men
$link-color-office: #777;
//middle
//--- input-group
$bor-color-primary-search: #e7e7e7;
$color-text-input: #7b7b7b;
//--- dropdown input
$bg-color-drop-input: #1868dd;
//---- scrollbar thumb
$bg-color-scroll-thumb: #fed700;
$bor-color-scroll-thumb: #fff;
//---- scrollbar track
$bg-color-scroll-track: #9FC0F1;
//--- button
$bg-color-hover-search: #61CE70;
//right
//--- black friday
$bor-color-friday: #e7e7e7;
$title-color-friday: #0063d1;
$color-text-friday: #797979;
$color-hover-text: #FFFFFF;
$color-hover-bg: #222;

//Comparisons
//--- Slider
$active-color-comparisons: #0063d1;
$dots-hover-color-comparisons: #0063d1;
$primary-color-slider: rgb(255, 255, 255);
//btn-view
$bg-color-btn-view: rgba(0, 0, 0, 0);
$bor-color-btn-view: rgb(0, 99, 209);
$color-text-btn-view: rgb(0, 99, 209);
//btn-cate
$bg-color-btn-cate: rgb(254, 215, 0);
$bor-color-btn-cate: rgb(254, 215, 0);
$color-text-btn-cate: rgb(51, 62, 72);
//--- btn view hover
$bg-color-btn-view-hover: #222222;
$bor-color-btn-view-hover: #222222;
$color-text-btn-view-hover: #FFFFFF;
//--- btn cate hover
$bg-color-btn-cate-hover: #83B735;
$bor-color-btn-cate-hover: #83B735;
$color-text-btn-cate-hover: #F4F9EE;


//Top-categories
$bor-color-top-cate: #efefef;
$bor-color-right-item: #ededed;
$color-icon-hover-heart: #4a4a4a;
$color-text-name: #222;
$color-text-name-hover: #007bff;


//Marketo-banner
$bg-color-marketo: #F9F9F9;
//---offer-banner
$span-color-offer-banner: #0063d1;
$p-color-offer-banner: black;
$h3-color-offer-banner: black;
$bg-color-btn-offer-banner: #fed700;
$text-color-btn-offer-banner: rgb(255, 255, 255);
//---Hot-Sale
$bor-bottom-color-hot-sale: #efefef;
//----item-sale
$bg-color-item-sale: #ffffff;
$bor-right-color-item-sale: #efefef;
//----logo-sale
$bg-color-logo-sale: #62AB00;
$text-color-logo-sale: rgb(255, 255, 255);
//----title
$title-color-hot-sale: #222;
$title-color-hover-hot-sale: #007bff;
//----sold-available
$text-color-sold-avail: rgb(74, 74, 74);
//----progress
$bg-color-progress-sale: #F5F5F5;
$bg-color-progress-bar-sale: #FED700;
//----hr
$bor-top-hot-sale: #f4f4f4;
//----offers end in
$offer-end-in-color-hot-sale: #777;
//----time
$text-color-time-hot-sale: rgb(74, 74, 74);

//Women-clothing
$bg-color-women-clo: #15c1d7;

//Mens-clothing
$bg-color-mens-clo: #8c6e63;

//Mobile
$bg-color-mobile: #0059a7;

//Computer
$bg-color-computer: #5c6dbd;

//Watches
$bg-color-watches: #009893;

//gadget-makes
$title-color-gadget: black;
$bg-color-item-gadget: #FFFFFF;
$bg-color-btn-cart-gadget: #0063d1;
$bg-color-btn-cart-hover-gadget: #83B735;

//products
$bor-color-top-products: #efefef;
$color-text-btn-products: #d5d5d5;
$color-text-btn-hover-products: #0063d1;

//brand
$bg-color-brand: #333E48;

//marketo
//---marketo-left
$color-text-question-marketo: #999;
$color-text-phone-marketo: #444;
$color-text-address-marketo: #777;
$color-bg-btn-hover-marketo: #83B735;
//---marketo-middle
$color-text-using-marketo: #999;
$color-text-safe-marketo: #444;
$color-text-secured-marketo: #1C1C24;

//---marketo-right
$color-text-links-marketo: #777;
$color-text-links-hover-marketo: #0063d1;

//footer
$color-text-p-footer: #777;
$color-text-span-footer: #333E48;