@charset "UTF-8";
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dis-none {
  display: none;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.drop {
  z-index: 9999;
  width: 190px;
  position: absolute;
  display: none;
  border: solid 1px transparent;
  -webkit-box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0 0 5px 5px;
  font-size: 12px;
  top: 50px;
  left: 0px;
  background-color: #ffffff;
}

.drop .bor-none {
  border: none;
}

.drop li {
  width: 100%;
  padding: 12px 15px;
  border-style: solid;
  border-width: 0 0px 1px;
  border-color: #f1f1f1;
}

.drop li:hover > a {
  color: #007bff;
}

.drop-down {
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  padding: 25px 25px 10px 25px;
  background-color: #FFFFFF;
}

.drop-down ul h2 {
  font-family: roboto, Sans-serif;
  color: #101010;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.drop-down ul h2::before {
  position: relative;
  content: "■";
  color: #FFB25D;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  top: -2.5px;
  margin-right: 5px;
}

.hover-banner {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.hover-banner:hover::after {
  -webkit-transform: translate(-140%, 250%) rotate(45deg) scale(4);
          transform: translate(-140%, 250%) rotate(45deg) scale(4);
}

.hover-banner::after {
  transition: transform 1.4s, -webkit-transform 1.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  right: 0;
  -webkit-transform: translate(72%, -50%) rotate(45deg) scale(1);
          transform: translate(72%, -50%) rotate(45deg) scale(1);
}

.drop-tablet {
  position: relative;
  top: 8px;
  left: -10px;
  background-color: #ffffff;
  width: 108%;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  -webkit-box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
}

.drop-tablet li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 0px;
  border-style: solid;
  border-width: 0 0px 1px;
  border-color: #f1f1f1;
}

.drop-tablet li a {
  font-size: 14px;
  font-weight: 400;
  color: #464646;
}

.drop-tablet .drop-tablet {
  padding: 0;
}

.drop-tablet .bor-none {
  border: none;
}

.drop-tablet-icon {
  color: #000;
}

.drop-tablet-icon span {
  font-weight: 600;
}

.drop-tablet-icon .btn-angle-down {
  padding: 10px 6px;
  border: 1px solid #333;
  border-radius: 30px;
}

.drop-tablet-icon .btn-angle-down i {
  font-size: 11px;
}

.hover-btn {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.hover-btn i,
.hover-btn span {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.hover-btn:hover::after {
  -webkit-transform: translate(-83%, -70%) scale(3);
          transform: translate(-83%, -70%) scale(3);
}

.hover-btn::after {
  position: absolute;
  content: "";
  left: 90%;
  top: 0%;
  -webkit-transform: translate(-10%, -10%) scale(0);
          transform: translate(-10%, -10%) scale(0);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: rgba(97, 206, 112, 0.7);
}

.header-nav li {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #969696;
  margin-left: 40px;
  padding: 0 0 12px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header-nav li:hover {
  color: #FED700;
}

.header-nav li:hover::after, .header-nav li:hover::before {
  opacity: 1;
}

.header-nav li::after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #FED700;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header-nav li::before {
  opacity: 0;
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: #FED700 transparent transparent transparent;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header-nav .active {
  color: #FED700;
}

.header-nav .active::after, .header-nav .active::before {
  opacity: 1;
}

.price {
  text-decoration: line-through;
  color: #949292;
  font-size: 18px;
  font-weight: 600;
  margin-right: 3px;
}

.price-sale {
  color: #0564d2;
  font-size: 18px;
  font-weight: 600;
}

.bor-right-none {
  border-right: none;
}

.section-items {
  margin-bottom: 50px;
}

.section-items .container {
  padding: 0px;
  height: 525px;
  border: 2px solid #e3e3e3;
}

.section-items .nav-links {
  width: 18%;
  height: 520px;
  padding: 10px 10px 12px 10px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-items .nav-links .blur {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.section-items .nav-links nav {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.section-items .nav-links nav h3 {
  color: #000;
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 20px;
}

.section-items .nav-links nav ul li {
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.section-items .nav-links nav ul li a {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.section-items .slider_2 {
  width: 24%;
  position: relative;
}

.section-items .slider_2 .slide {
  width: 100%;
  height: 520px;
}

.section-items .slider_2 .slide img {
  width: 100%;
  height: 100%;
}

.section-items .slider_2 .owl-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-items .slider_2 .owl-dots button span {
  margin-right: 0px;
  width: 8px;
  height: 8px;
  background-color: rgba(51, 62, 72, 0.1);
}

.section-items .slider_2 .owl-dots button.active span {
  background-color: #fed700;
}

.section-items .slider_2 .owl-dots button:hover span {
  background-color: #0063d1;
}

.section-items .items {
  width: 60%;
  height: 530px;
}

.section-items .items .row {
  width: 100%;
  height: 100%;
}

.section-items .items .row .col {
  width: 25%;
  height: 44%;
  position: relative;
  cursor: pointer;
}

.section-items .items .row .col:hover::before {
  opacity: 1;
}

.section-items .items .row .col::before {
  opacity: 0;
  content: "";
  width: 100%;
  height: 90%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  left: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-items .items .row .col .item {
  margin-top: 10px;
}

.section-items .items .row .col .item img {
  display: block;
  height: 56%;
  width: 59.1%;
  margin: 0 auto;
}

.section-items .items .row .col .item p {
  color: #333e48;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  margin: 0px 20px 5px 20px;
}

.section-items .items .row .col .item span {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
}

.product-title {
  color: #222;
  font-size: 17px;
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 7px;
  cursor: pointer;
}

.product-title:hover {
  color: rgba(0, 123, 255, 0.8);
}

.rating {
  cursor: default;
}

.rating i {
  color: #fed700;
  font-size: 14px;
}

.heart i {
  cursor: pointer;
  margin-right: 15px;
  color: #fed700;
}

.heart i:hover {
  color: #4a4a4a;
}

.hover-btn-black {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hover-btn-black:hover a span,
.hover-btn-black:hover a h2 {
  color: #FFFFFF;
}

.hover-btn-black:hover::after {
  -webkit-transform: translate(-100%, -100%) scale3d(6, 3, 2);
          transform: translate(-100%, -100%) scale3d(6, 3, 2);
}

.hover-btn-black::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #222;
  left: 100%;
  top: 100%;
  border-radius: 50%;
  -webkit-transform: translate(0%, -70%) scale(1);
          transform: translate(0%, -70%) scale(1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@-webkit-keyframes fadeDown {
  from {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeDown {
  from {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes moveToRight-p {
  from {
    opacity: 1;
    -webkit-transform: translateX(-130px);
            transform: translateX(-130px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveToRight-p {
  from {
    opacity: 1;
    -webkit-transform: translateX(-130px);
            transform: translateX(-130px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveToRight-h2 {
  from {
    opacity: 1;
    -webkit-transform: translateX(-420px);
            transform: translateX(-420px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveToRight-h2 {
  from {
    opacity: 1;
    -webkit-transform: translateX(-420px);
            transform: translateX(-420px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveToRight-btn {
  from {
    opacity: 1;
    -webkit-transform: translateX(-190px);
            transform: translateX(-190px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveToRight-btn {
  from {
    opacity: 1;
    -webkit-transform: translateX(-190px);
            transform: translateX(-190px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveToLeft-btn {
  from {
    opacity: 1;
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveToLeft-btn {
  from {
    opacity: 1;
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes modalShow {
  from {
    opacity: 0;
    right: -380px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes modalShow {
  from {
    opacity: 0;
    right: -380px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes modalClose {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    right: -400px;
    opacity: 0;
  }
}

@keyframes modalClose {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    right: -400px;
    opacity: 0;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}

.row [class^="col-"] {
  padding: 8px;
}

@media (max-width: 576px) {
  .row .col-xs-1 {
    width: 8.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-2 {
    width: 16.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-3 {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-4 {
    width: 33.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-5 {
    width: 41.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-6 {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-7 {
    width: 58.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-8 {
    width: 66.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-9 {
    width: 75%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-10 {
    width: 83.33333%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-11 {
    width: 91.66667%;
  }
}

@media (max-width: 576px) {
  .row .col-xs-12 {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-1 {
    width: 8.33333%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-2 {
    width: 16.66667%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-3 {
    width: 25%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-4 {
    width: 33.33333%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-5 {
    width: 41.66667%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-7 {
    width: 58.33333%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-8 {
    width: 66.66667%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-9 {
    width: 75%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-10 {
    width: 83.33333%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-11 {
    width: 91.66667%;
  }
}

@media (min-width: 576px) {
  .row .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row .col-md-1 {
    width: 8.33333%;
  }
}

@media (min-width: 768px) {
  .row .col-md-2 {
    width: 16.66667%;
  }
}

@media (min-width: 768px) {
  .row .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .row .col-md-4 {
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .row .col-md-5 {
    width: 41.66667%;
  }
}

@media (min-width: 768px) {
  .row .col-md-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .row .col-md-7 {
    width: 58.33333%;
  }
}

@media (min-width: 768px) {
  .row .col-md-8 {
    width: 66.66667%;
  }
}

@media (min-width: 768px) {
  .row .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .row .col-md-10 {
    width: 83.33333%;
  }
}

@media (min-width: 768px) {
  .row .col-md-11 {
    width: 91.66667%;
  }
}

@media (min-width: 768px) {
  .row .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-1 {
    width: 8.33333%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-2 {
    width: 16.66667%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-3 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-4 {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-5 {
    width: 41.66667%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-7 {
    width: 58.33333%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-8 {
    width: 66.66667%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-9 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-10 {
    width: 83.33333%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-11 {
    width: 91.66667%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .row .col-xl-12 {
    width: 100%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  margin: 0 auto;
  max-width: 1380px;
  padding: 0 15px;
}

.fadeIn {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.fadeOut {
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
}

.scaleDown {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.active-blue {
  color: #1868dd;
}

.active-yellow {
  background-color: #fed700 !important;
}

.modal-close-animate {
  -webkit-animation: modalClose 0.5s ease;
          animation: modalClose 0.5s ease;
}

.modal-show-animate {
  -webkit-animation: modalShow 0.5s linear;
          animation: modalShow 0.5s linear;
}

.check i {
  cursor: pointer;
  margin-right: 15px;
  color: #fed700;
}

.check i:hover {
  color: #4a4a4a;
}

.highlight {
  color: deeppink;
}

.header-top {
  height: 40px;
  background-color: #F5F5F5;
}

.header-top .container {
  height: 100%;
}

.header-top .container a {
  font-size: 13px;
  color: #222;
}

.header-top .information {
  margin: 0 10px;
  font-size: 14px;
}

.header-top .information .delevery i,
.header-top .information .policy i {
  font-size: 17px;
  margin-right: 8px;
}

.header-top .information .wall {
  color: #D7D7D7;
  margin: 0 15px;
}

.header-top .information .follow {
  margin-left: 25px;
  font-size: 14px;
}

.header-top .information .follow i {
  margin: 0 5px;
}

.header-middle {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffffff;
}

.header-middle .menu-lg {
  margin-top: 8px;
}

.header-middle .menu-lg ul {
  padding: 20px 10px;
  cursor: pointer;
}

.header-middle .menu-lg ul a {
  color: #464646;
  font-size: 14px;
  font-weight: 600;
}

.header-middle .menu-lg ul a i {
  margin-left: 5px;
  font-size: 10px;
}

.header-middle .menu-lg ul:hover .main {
  color: #007bff;
}

.header-middle .menu-lg .home {
  position: relative;
}

.header-middle .menu-lg .home:hover .drop-down-home {
  -webkit-animation: fadeDown 0.4s forwards;
          animation: fadeDown 0.4s forwards;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-middle .menu-lg .home li {
  border: 1px solid #D7D7D7;
  margin: 10px 12px;
}

.header-middle .menu-lg .home li P {
  color: #222;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
}

.header-middle .menu-lg .home li img {
  margin-bottom: 8px;
  display: block;
  width: 230px;
  height: 210px;
}

.header-middle .menu-lg .home .drop-down-home {
  z-index: 9999;
  padding-left: 12px;
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  width: 1050px;
  left: -350px;
  top: 75%;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
}

.header-middle .menu-lg .pages {
  position: relative;
}

.header-middle .menu-lg .pages:hover .drop-down-pages,
.header-middle .menu-lg .pages:hover .pro-cate {
  -webkit-animation: fadeDown 0.4s forwards;
          animation: fadeDown 0.4s forwards;
  display: block;
}

.header-middle .menu-lg .pages .drop-down-pages li:hover > a {
  color: #007bff;
}

.header-middle .menu-lg .pages .drop-down-pages .drop-down-product {
  width: 105%;
}

.header-middle .menu-lg .pages .drop-down-pages .drop-down-product i {
  margin-top: 5px;
  float: right;
}

.header-middle .menu-lg .pages .drop-down-pages .drop-down-product:hover .pro-cate {
  display: block;
}

.header-middle .menu-lg .pages .drop-down-pages .drop-down-product .pro-cate {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  right: -182px;
  top: 190px;
  -webkit-box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0 0 5px 5px;
}

.header-middle .menu-lg .shop {
  position: relative;
}

.header-middle .menu-lg .shop::before {
  content: "New";
  position: absolute;
  padding: 3px 8px;
  background-color: #83B735;
  top: -6px;
  left: 18px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}

.header-middle .menu-lg .shop::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent transparent #83B735;
  top: 9px;
  left: 18px;
}

.header-middle .menu-lg .shop:hover .drop-down-shop {
  -webkit-animation: fadeDown 0.4s forwards;
          animation: fadeDown 0.4s forwards;
  display: block;
}

.header-middle .menu-lg .shop .drop-down-shop {
  width: 170px;
  height: auto;
}

.header-middle .menu-lg .shop .drop-down-shop li:hover > a {
  color: #007bff;
}

.header-middle .menu-lg .blogs {
  position: relative;
}

.header-middle .menu-lg .blogs:hover .drop-down-blog {
  -webkit-animation: fadeDown 0.4s forwards;
          animation: fadeDown 0.4s forwards;
  display: block;
}

.header-middle .menu-lg .blogs .drop-down-blog {
  width: 170px;
  height: auto;
}

.header-middle .menu-lg .blogs .drop-down-blog li:hover > a {
  color: #007bff;
}

.header-middle .menu-lg .gallery {
  position: relative;
}

.header-middle .menu-lg .gallery::before {
  content: "Hot";
  position: absolute;
  padding: 3px 8px;
  background-color: #fed700;
  top: -6px;
  left: 18px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}

.header-middle .menu-lg .gallery::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent transparent #fed700;
  top: 9px;
  left: 18px;
}

.header-middle .menu-lg .gallery:hover .drop-down-gallery {
  -webkit-animation: fadeDown 0.4s forwards;
          animation: fadeDown 0.4s forwards;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-middle .menu-lg .gallery .drop-down-gallery {
  z-index: 9999;
  display: none;
  width: 1050px;
  height: 400px;
  background-color: #1E212A;
  position: absolute;
  top: 100%;
  left: -600px;
  padding: 25px 30px;
  background-image: url(/public/img/menu-bg-wave.png);
  background-size: cover;
  background-position: -190px;
}

.header-middle .menu-lg .gallery .drop-down-gallery ul {
  width: 24%;
}

.header-middle .menu-lg .gallery .drop-down-gallery ul h3 {
  text-align: left;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 10px;
}

.header-middle .menu-lg .gallery .drop-down-gallery ul .lead {
  text-align: left;
  color: #999;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.header-middle .menu-lg .gallery .drop-down-gallery ul li {
  border-left: 2px solid #3d404a;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header-middle .menu-lg .gallery .drop-down-gallery ul li:hover {
  border-left: 2px solid #007bff;
}

.header-middle .menu-lg .gallery .drop-down-gallery ul li:hover a {
  color: #fff;
}

.header-middle .menu-lg .gallery .drop-down-gallery ul li a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  padding: 10px 18px;
  color: rgba(255, 255, 255, 0.8);
}

.header-middle .menu-lg .gallery .drop-down-gallery ul .content {
  color: #727173;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.header-middle .heart-cart {
  position: relative;
}

.header-middle .heart-cart i {
  font-size: 26px;
  margin: 10px;
}

.header-middle .heart-cart .heart-like,
.header-middle .heart-cart .cart {
  margin: 4px;
}

.header-middle .heart-cart .heart-like button,
.header-middle .heart-cart .cart button {
  cursor: pointer;
}

.header-middle .heart-cart .heart-like span {
  width: 20px;
  height: 20px;
  background-color: #F0F0F0;
  position: absolute;
  font-size: 12px;
  color: #565656;
  border-radius: 50%;
  border: 3px solid #fff;
  top: 5px;
  left: 28%;
  font-weight: 600;
}

.header-middle .heart-cart .cart span {
  width: 20px;
  height: 20px;
  background-color: #fed700;
  position: absolute;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #fff;
  font-weight: 600;
  top: 6px;
  right: 3%;
}

.header-middle .modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.header-middle .modal .modal-inner {
  position: absolute;
  right: 0;
  z-index: 9999;
  width: 380px;
  height: 100%;
  padding: 30px;
  background-color: #fff;
}

.header-middle .modal .modal-inner .modal-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.header-middle .modal .modal-inner .modal-header .close-modal {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
  background-color: #ededed;
  cursor: pointer;
}

.header-middle .modal .modal-inner .modal-header .close-modal i {
  color: #222;
}

.header-middle .modal .modal-inner .modal-header .close-modal:hover i {
  color: #007bff;
}

.header-middle .modal .modal-inner .modal-body {
  margin-bottom: 25px;
}

.header-middle .modal .modal-inner .modal-body .no-products {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
}

.header-middle .modal .modal-inner .modal-body .item-cart {
  padding: 10px;
}

.header-middle .modal .modal-inner .modal-body .item-cart img {
  width: 75px;
  height: 75px;
  margin-right: 8px;
}

.header-middle .modal .modal-inner .modal-body .item-cart .content-item {
  width: 80%;
}

.header-middle .modal .modal-inner .modal-body .item-cart .content-item .content .product-title {
  cursor: pointer;
  color: #007bff;
  font-weight: 600;
  font-size: 14px;
  margin-top: 8px;
}

.header-middle .modal .modal-inner .modal-body .item-cart .content-item .content .product-title:hover {
  color: #0063d1;
}

.header-middle .modal .modal-inner .modal-body .item-cart .content-item .content .amount-item {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.header-middle .modal .modal-inner .modal-body .item-cart .content-item .content .amount-item .price-sale {
  font-size: 14px;
}

.header-middle .modal .modal-inner .modal-body .item-cart .content-item .btn-delete {
  color: red;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-top: 20px;
}

.header-middle .modal .modal-inner .modal-body .item-cart .content-item .btn-delete:hover {
  line-height: 22px;
  text-align: center;
  border-radius: 100%;
  background-color: red;
  color: #fff;
}

.header-middle .modal .modal-inner .modal-bottom p {
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  margin-bottom: 16px;
}

.header-middle .modal .modal-inner .modal-bottom p span {
  margin-left: 5px;
  color: #0564d2;
}

.header-middle .modal .modal-inner .modal-bottom .button-cart button {
  padding: 16px 35px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 12px;
  border-radius: 160px;
  background-color: #fed700;
  color: #fff;
  font-weight: 600;
  margin-right: 12px;
}

.header-bottom {
  margin-top: 22px;
}

.header-bottom h2,
.header-bottom h3 {
  cursor: text;
}

.header-bottom .all-categories .menu-all-categories {
  width: 318px;
  height: 57px;
  background-color: #fed700;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
}

.header-bottom .all-categories .menu-all-categories .group-menu p {
  font-weight: 600;
}

.header-bottom .all-categories .menu-all-categories .group-menu i {
  margin-right: 25px;
}

.header-bottom .all-categories .menu-all-categories span i {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-size: 24px;
  float: right;
}

.header-bottom .all-categories nav {
  position: relative;
}

.header-bottom .all-categories nav .drop-down-categories {
  z-index: 9999;
  display: none;
  width: 100%;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.header-bottom .all-categories nav .drop-down-categories > li {
  position: relative;
  padding: 12px 19px 12px 25px;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}

.header-bottom .all-categories nav .drop-down-categories > li a {
  color: #101010;
  font-size: 14px;
  font-weight: 600;
}

.header-bottom .all-categories nav .drop-down-categories > li a i {
  font-size: 18px;
  float: right;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(-180deg);
          transform: scale(-180deg);
}

.header-bottom .all-categories nav .drop-down-categories > li:hover a i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-bottom .all-categories nav .drop-down-categories > li:hover .drop-down-men,
.header-bottom .all-categories nav .drop-down-categories > li:hover .drop-down-office {
  -webkit-animation: fadeUp 0.4s forwards ease-in;
          animation: fadeUp 0.4s forwards ease-in;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-bottom .all-categories nav .drop-down-categories > li:hover .drop-down-electron,
.header-bottom .all-categories nav .drop-down-categories > li:hover .drop-down-women {
  -webkit-animation: fadeUp 0.4s forwards ease-in;
          animation: fadeUp 0.4s forwards ease-in;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom .all-categories nav .drop-down-categories > li:hover .main {
  color: #0063d1;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-electron {
  display: none;
  z-index: 9999;
  width: 730px;
  height: 362px;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 25px 30px;
  background-color: #ffffff;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-electron .element {
  width: 35%;
  height: 100%;
  margin-right: 35px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-electron .element ul {
  margin-bottom: 25px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-electron .element ul h3 {
  color: #222;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-electron .element ul li {
  padding: 8px 0;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-electron .element ul li a {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  padding: 3px 0px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-electron .element ul li a:hover {
  color: #007bff;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-women {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 750px;
  height: 362px;
  background-color: #ffffff;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-women img {
  width: 90px;
  height: 100px;
  margin-bottom: 20px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-women .part {
  width: 25%;
  height: 100%;
  padding: 30px 0 30px 30px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #ededed;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-women .part ul h3 {
  color: #101010;
  font-size: 16px;
  font-weight: 500;
  font-family: roboto, Sans-serif;
  margin-bottom: 10px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-women .part ul li {
  margin: 0 0 10px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-women .part ul li a {
  color: #777;
  font-size: 14px;
  font-weight: 500;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-women .part ul li:hover a {
  color: #007bff;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-women .bor-none {
  border: none;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-office,
.header-bottom .all-categories nav .drop-down-categories > li .drop-down-men {
  width: 750px;
  height: 391px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-office ul li a,
.header-bottom .all-categories nav .drop-down-categories > li .drop-down-men ul li a {
  color: #777;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-office ul li:hover a,
.header-bottom .all-categories nav .drop-down-categories > li .drop-down-men ul li:hover a {
  color: #007bff;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-men {
  background-image: url(/public/img/sofa.png);
  background-position: 400px 180px;
  background-repeat: no-repeat;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-men ul {
  width: 25%;
  height: 50%;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-office {
  background-image: url(/public/img/hand.png);
  background-position: 350px 30px;
  background-repeat: no-repeat;
}

.header-bottom .all-categories nav .drop-down-categories > li .drop-down-office ul {
  width: 26%;
  height: 50%;
  margin-bottom: 10px;
}

.header-bottom .search form {
  position: relative;
}

.header-bottom .search form .input-group {
  width: 670px;
  height: 60px;
}

.header-bottom .search form .input-group input {
  width: 60%;
  height: 100%;
  border: 2px solid #e7e7e7;
  border-right: transparent;
  padding: 0 25px;
  color: #7b7b7b;
  font-size: 17px;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header-bottom .search form .input-group nav {
  position: relative;
  padding-top: 9.5px;
  width: 30%;
  height: 100%;
  border: 2px solid #e7e7e7;
  border-left: transparent;
  border-right: transparent;
}

.header-bottom .search form .input-group nav .group {
  width: 100%;
  height: 80%;
  color: #7b7b7b;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  border-left: 2px solid #e7e7e7;
}

.header-bottom .search form .input-group nav .drop-down-input {
  z-index: 9999;
  overflow-y: scroll;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 56px;
  left: 0;
  background-color: #1868dd;
}

.header-bottom .search form .input-group nav .drop-down-input li {
  padding: 5px 15px;
  cursor: pointer;
}

.header-bottom .search form .input-group nav .drop-down-input li a {
  border-top: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

.header-bottom .search form .input-group nav .drop-down-input li:hover {
  background-color: #fed700;
}

.header-bottom .search form .input-group nav .drop-down-input::-webkit-scrollbar {
  width: 5px;
}

.header-bottom .search form .input-group nav .drop-down-input::-webkit-scrollbar-thumb {
  background-color: #fed700;
  border: 1px solid #fff;
}

.header-bottom .search form .input-group nav .drop-down-input::-webkit-scrollbar-track {
  background-color: #9FC0F1;
}

.header-bottom .search form .input-group button {
  position: relative;
  width: 10%;
  height: 100%;
  background-color: #fed700;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-bottom .search .group-autocom .autocom-box {
  width: 100%;
  max-height: 320px;
  overflow-y: auto;
  position: absolute;
  bottom: auto;
  z-index: 9999;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}

.header-bottom .search .group-autocom .autocom-box li {
  width: 50%;
  height: 33.333333%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(129, 129, 129, 0.2);
  padding: 20px;
  cursor: pointer;
}

.header-bottom .search .group-autocom .autocom-box li .product-title {
  font-size: 15px;
  pointer-events: none;
}

.header-bottom .search .group-autocom .autocom-box li:hover {
  background-color: #efefef;
}

.header-bottom .search .group-autocom .autocom-box li img {
  width: 65px;
  height: 65px;
  margin-right: 5px;
}

.header-bottom .search .group-autocom .autocom-box .not-search {
  width: 100%;
  padding: 25px;
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
}

.header-bottom .search .view-more {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 9999;
  bottom: -380px;
  background-color: #ffffff;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(129, 129, 129, 0.2);
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.header-bottom .search .view-more .btn-view-more {
  margin-top: 17px;
  cursor: pointer;
  padding: 12px 22px;
  background-color: #4a4a4a;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid transparent;
  font-weight: 600;
}

.header-bottom .search .view-more .btn-view-more:hover {
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #4a4a4a;
}

.header-bottom .black-friday {
  width: 320px;
  height: 60px;
  text-align: center;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}

.header-bottom .black-friday a {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.header-bottom .black-friday a h2,
.header-bottom .black-friday a span {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header-bottom .black-friday a h2 {
  cursor: pointer;
  padding-top: 7px;
  color: #0063d1;
  font-size: 16px;
  font-weight: 700;
}

.header-bottom .black-friday a span {
  color: #797979;
  font-size: 12px;
  font-weight: 500;
}

.comparisons {
  margin-top: 32px;
}

.comparisons .owl-carousel {
  position: relative;
  width: 70%;
  height: 500px;
}

.comparisons .owl-carousel .owl-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.comparisons .owl-carousel .owl-dots button span {
  margin-right: 0px;
  width: 12px;
  height: 12px;
}

.comparisons .owl-carousel .owl-dots button.active span {
  background-color: #0063d1;
}

.comparisons .owl-carousel .owl-dots button:hover span {
  background-color: #0063d1;
}

.comparisons .owl-carousel .owl-stage .owl-item.active .slider-item p {
  opacity: 0;
  -webkit-animation: moveToRight-p 1.4s forwards ease;
          animation: moveToRight-p 1.4s forwards ease;
}

.comparisons .owl-carousel .owl-stage .owl-item.active .slider-item h2 {
  opacity: 0;
  -webkit-animation: moveToRight-h2 2.7s 0.8s forwards ease;
          animation: moveToRight-h2 2.7s 0.8s forwards ease;
}

.comparisons .owl-carousel .owl-stage .owl-item.active .slider-item .btn-view {
  opacity: 0;
  -webkit-animation: moveToRight-btn 2s 1s forwards ease;
          animation: moveToRight-btn 2s 1s forwards ease;
}

.comparisons .owl-carousel .owl-stage .owl-item.active .slider-item .btn-cate {
  opacity: 0;
  -webkit-animation: moveToLeft-btn 2s 1s forwards ease;
          animation: moveToLeft-btn 2s 1s forwards ease;
}

.comparisons .owl-carousel .slider-item {
  width: 100%;
  height: 500px;
  position: relative;
}

.comparisons .owl-carousel .slider-item .slider-content {
  position: absolute;
  top: 26%;
  left: 8%;
  overflow: hidden;
}

.comparisons .owl-carousel .slider-item .slider-content p {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 24px;
}

.comparisons .owl-carousel .slider-item .slider-content h2 {
  margin-bottom: 30px;
  line-height: 41px;
  color: white;
  font-size: 36px;
  font-weight: 700;
}

.comparisons .owl-carousel .slider-item .slider-content .slider-btns {
  width: 75%;
  height: 60px;
  overflow: hidden;
}

.comparisons .owl-carousel .slider-item .slider-content .slider-btns .btn-view {
  cursor: pointer;
  padding: 15px 22px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: 2px solid #0063d1;
  color: #0063d1;
  font-size: 13px;
  font-weight: 600;
}

.comparisons .owl-carousel .slider-item .slider-content .slider-btns .btn-view:hover {
  background-color: #222222;
  border-color: #222222;
  color: #FFFFFF;
}

.comparisons .owl-carousel .slider-item .slider-content .slider-btns .btn-cate {
  cursor: pointer;
  padding: 15px 22px;
  background-color: #fed700;
  border-radius: 3px;
  border: 2px solid #fed700;
  color: #333e48;
  font-size: 13px;
  font-weight: 600;
}

.comparisons .owl-carousel .slider-item .slider-content .slider-btns .btn-cate:hover {
  background-color: #83B735;
  border-color: #83B735;
  color: #F4F9EE;
}

.comparisons .owl-carousel .slide-1 {
  background-image: url(/public/img/slider_bg_81.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.comparisons .owl-carousel .slide-2,
.comparisons .owl-carousel .slide-3 {
  background-image: url(/public/img/slider_bg_71.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.comparisons .picks-kerui {
  width: 29%;
  height: 100%;
}

.comparisons .picks-kerui .picks,
.comparisons .picks-kerui .kerui {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.comparisons .picks-kerui .picks img,
.comparisons .picks-kerui .kerui img {
  display: block;
  width: 100%;
  height: 240px;
}

.banner {
  margin: 75px auto;
  width: 100%;
  height: 300px;
}

.banner .banner-img {
  width: 32.5%;
  height: 100%;
}

.banner .banner-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.top-categories {
  width: 100%;
  height: 520px;
}

.top-categories .header-cate {
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.top-categories .header-cate h2 {
  padding: 0 0 12px;
}

.top-categories .items .item-cate .item {
  width: 340px;
  height: 120px;
  margin-bottom: 30px;
  position: relative;
}

.top-categories .items .item-cate .item:hover .blur {
  background-color: rgba(255, 255, 255, 0.4);
}

.top-categories .items .item-cate .item .blur {
  position: absolute;
  cursor: pointer;
  width: 37%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.top-categories .items .item-cate .item .img-item {
  width: 37%;
  height: 100%;
}

.top-categories .items .item-cate .item .img-item img {
  width: 100%;
  height: 100%;
}

.top-categories .items .item-cate .item .content-item {
  width: 60%;
  height: 82%;
  border-right: 1px solid #ededed;
  padding: 5px;
  margin-left: 8px;
}

.top-categories .items .item-cate .item .content-item .header-content {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.marketo-banner {
  background-color: #F9F9F9;
  width: 100%;
  height: 800px;
  margin-top: 85px;
  padding-top: 85px;
}

.marketo-banner .go-shop {
  width: 33%;
  height: 270px;
}

.marketo-banner .go-shop .offer-banner {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 60px 30px 30px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -42px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.marketo-banner .go-shop .offer-banner:hover {
  -webkit-box-shadow: 0px 2px 20px 0 rgba(144, 144, 144, 0.16);
          box-shadow: 0px 2px 20px 0 rgba(144, 144, 144, 0.16);
}

.marketo-banner .go-shop .offer-banner span {
  color: #0063d1;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
}

.marketo-banner .go-shop .offer-banner p {
  color: black;
  font-size: 18px;
  font-weight: 300;
}

.marketo-banner .go-shop .offer-banner h3 {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.marketo-banner .go-shop .offer-banner button {
  position: relative;
  padding: 8px 32px;
  background-color: #fed700;
  border-radius: 5px;
}

.marketo-banner .go-shop .offer-banner button span {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.marketo-banner .go-shop .basic {
  margin-bottom: 10px;
  background-image: url(https://demo.xpeedstudio.com/marketo/wp-content/uploads/2018/07/hand_watch1-1.png);
}

.marketo-banner .go-shop .get-sale {
  background-image: url(https://demo.xpeedstudio.com/marketo/wp-content/uploads/2018/07/laptop1-1.png);
}

.marketo-banner .hot-sale {
  width: 66%;
  margin-left: 20px;
}

.marketo-banner .hot-sale .header-hot-sale {
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.marketo-banner .hot-sale .header-hot-sale h2 {
  padding: 0 0 12px;
}

.marketo-banner .hot-sale .items-sale {
  width: 100%;
}

.marketo-banner .hot-sale .items-sale .item-sale {
  background-color: #ffffff;
  width: 35%;
  position: relative;
  border-right: 1px solid #efefef;
}

.marketo-banner .hot-sale .items-sale .item-sale:nth-child(3) {
  border: none;
}

.marketo-banner .hot-sale .items-sale .item-sale:nth-child(3)::after {
  height: 48%;
}

.marketo-banner .hot-sale .items-sale .item-sale:hover::after {
  opacity: 1;
}

.marketo-banner .hot-sale .items-sale .item-sale img {
  width: 86%;
  height: 41%;
  margin: 0px 16px;
  margin-bottom: 13px;
}

.marketo-banner .hot-sale .items-sale .item-sale::after {
  cursor: pointer;
  opacity: 0;
  content: "";
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  height: 47%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
}

.marketo-banner .hot-sale .items-sale .item-sale .logo-sale {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  height: 70px;
  background-color: #62AB00;
  right: 4%;
  top: 4%;
  border-radius: 50%;
}

.marketo-banner .hot-sale .items-sale .item-sale .logo-sale .sale {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.marketo-banner .hot-sale .items-sale .item-sale .logo-sale .offer {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.marketo-banner .hot-sale .items-sale .item-sale .title {
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 7px;
}

.marketo-banner .hot-sale .items-sale .item-sale .title:hover {
  color: #007bff;
}

.marketo-banner .hot-sale .items-sale .item-sale .item-price {
  text-align: center;
  margin-bottom: 28px;
}

.marketo-banner .hot-sale .items-sale .item-sale .sold-avail p {
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 600;
}

.marketo-banner .hot-sale .items-sale .item-sale .progress {
  width: 83%;
  height: 10px;
  background-color: #F5F5F5;
  margin: 10px auto 28px;
  border-radius: 15px;
}

.marketo-banner .hot-sale .items-sale .item-sale .progress .progress-bar {
  height: 10px;
  background-color: #FED700;
  border-radius: 15px;
}

.marketo-banner .hot-sale .items-sale .item-sale hr {
  width: calc(100% - 89px);
  margin: 15px auto;
  border: 0;
  border-top: 1px solid #f4f4f4;
}

.marketo-banner .hot-sale .items-sale .item-sale h4 {
  margin-bottom: 24px;
  text-align: center;
  color: #777;
  font-size: 16px;
  font-weight: 400;
}

.marketo-banner .hot-sale .items-sale .item-sale h4 span {
  color: #fed700;
  font-size: 18px;
  font-weight: 500;
}

.marketo-banner .hot-sale .items-sale .item-sale .time {
  width: 75%;
  margin: 0px auto;
  padding-bottom: 28px;
}

.marketo-banner .hot-sale .items-sale .item-sale .time .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.marketo-banner .hot-sale .items-sale .item-sale .time .block span:nth-child(1) {
  width: 40px;
  height: 40px;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
  background-color: #fed700;
  margin: 0px 6px;
}

.marketo-banner .hot-sale .items-sale .item-sale .time .block span:nth-child(2) {
  text-align: center;
  margin-top: 5px;
  color: #4a4a4a;
  font-size: 10px;
  font-weight: 400;
}

.women-clo {
  padding-top: 77px;
}

.women-clo .container .women-links {
  background-image: url(https://demo.xpeedstudio.com/marketo/wp-content/uploads/2018/07/women_bg.jpg);
}

.women-clo .container .women-links .blur {
  background-color: rgba(21, 193, 215, 0.9);
}

.women-clo .container .women-items {
  margin-top: 15px;
}

.mens-clo .container .mens-links {
  background-image: url(https://demo.xpeedstudio.com/marketo/wp-content/uploads/2018/07/man_bg-1.jpg);
}

.mens-clo .container .mens-links .blur {
  background-color: rgba(140, 110, 99, 0.9);
}

.mens-clo .container .mens-items {
  margin-top: 15px;
}

.mobile .container .mobile-links {
  background-image: url(https://demo.xpeedstudio.com/marketo/wp-content/uploads/2018/07/phone_bg-1.jpg);
}

.mobile .container .mobile-links .blur {
  background-color: rgba(0, 89, 167, 0.9);
}

.mobile .container .mobile-items {
  margin-top: 25px;
}

.computer .container .computer-links {
  background-image: url(https://demo.xpeedstudio.com/marketo/wp-content/uploads/2018/07/phone_bg-1.jpg);
}

.computer .container .computer-links .blur {
  background-color: rgba(92, 109, 189, 0.9);
}

.computer .container .computer-items {
  margin-top: 30px;
}

.watches .container .watches-links {
  background-image: url(https://demo.xpeedstudio.com/marketo/wp-content/uploads/2018/07/laptop_bg-1.jpg);
}

.watches .container .watches-links .blur {
  background-color: rgba(0, 152, 147, 0.9);
}

.watches .container .watches-items {
  margin-top: 30px;
}

.gadget-makes {
  margin-top: 125px;
  width: 100%;
  height: 662px;
  background-image: url(https://demo.xpeedstudio.com/marketov2/wp-content/uploads/2021/05/gadget-feature-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gadget-makes .container {
  width: 1120px;
  padding: 10px 10px 40px 10px;
  margin: 30px 0px 30px 60px;
}

.gadget-makes .container .header-gadget {
  margin: 30px 0px;
}

.gadget-makes .container .header-gadget h2 {
  text-align: left;
  color: black;
  font-size: 1.57143em;
  font-weight: 500;
}

.gadget-makes .container .header-gadget button {
  padding: 16px 35px;
  background-color: #fed700;
  border-radius: 160px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.gadget-makes .container .items-add {
  width: 100%;
  height: 100%;
}

.gadget-makes .container .items-add .row {
  width: 100%;
  height: 100%;
}

.gadget-makes .container .items-add .row .col {
  width: 45%;
  height: 220px;
  background-color: #FFFFFF;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.gadget-makes .container .items-add .row .col:hover::after {
  opacity: 1;
}

.gadget-makes .container .items-add .row .col::after {
  opacity: 0;
  content: "";
  position: absolute;
  cursor: pointer;
  width: 44.5%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.gadget-makes .container .items-add .row .col .img-item {
  width: 44.5%;
  height: 100%;
}

.gadget-makes .container .items-add .row .col .img-item img {
  width: 100%;
  height: 100%;
}

.gadget-makes .container .items-add .row .col .content-item {
  width: 55.5%;
  height: 74%;
  margin: 0 20px;
}

.gadget-makes .container .items-add .row .col .content-item .header-content {
  padding-bottom: 36px;
}

.gadget-makes .container .items-add .row .col .btn-add-to-cart {
  margin-top: 15px;
  background-color: #0063d1;
  padding: 12px 58px;
  border-radius: 160px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.gadget-makes .container .items-add .row .col .btn-add-to-cart::after {
  background-color: #83b735;
}

.products {
  margin-top: 75px;
  padding-bottom: 75px;
}

.products .container {
  height: 100%;
  padding: 0;
}

.products .container .list-products {
  width: 74%;
}

.products .container .list-products ul {
  border-bottom: 1px solid #efefef;
  padding-bottom: 5px;
}

.products .container .list-products ul li {
  margin-left: 0;
  margin-right: 40px;
}

.products .container .list-products #slider_3 {
  width: 100%;
  position: relative;
}

.products .container .list-products #slider_3 .slider {
  width: 100%;
}

.products .container .list-products #slider_3 .slider .item-product {
  margin: 30px 0px;
  position: relative;
}

.products .container .list-products #slider_3 .slider .item-product:hover::before {
  opacity: 1;
}

.products .container .list-products #slider_3 .slider .item-product img {
  width: 71px;
  height: 71px;
  margin-right: 20px;
}

.products .container .list-products #slider_3 .slider .item-product::before {
  opacity: 0;
  content: "";
  position: absolute;
  width: 71px;
  height: 71px;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  -webkit-transition: all 0.4 ease;
  transition: all 0.4 ease;
  cursor: pointer;
}

.products .container .list-products #slider_3 .slider .item-product .content-item .product-title {
  font-size: 16px;
}

.products .container .list-products #slider_3 .slider .item-product .content-item .price-sale,
.products .container .list-products #slider_3 .slider .item-product .content-item .price {
  font-size: 14px;
}

.products .container .list-products #slider_3 .owl-nav {
  position: absolute;
  top: -16%;
  right: 0%;
}

.products .container .list-products #slider_3 .owl-nav.disabled {
  display: block;
}

.products .container .list-products #slider_3 .owl-nav button {
  cursor: pointer;
  color: #d5d5d5;
  -webkit-transition: all 0.8 ease;
  transition: all 0.8 ease;
}

.products .container .list-products #slider_3 .owl-nav button.disabled {
  opacity: 1;
}

.products .container .list-products #slider_3 .owl-nav button:hover {
  color: #0063d1;
  background-color: transparent;
}

.products .container .list-products #slider_3 .owl-nav button i {
  font-size: 28px;
}

.products .container .dream {
  width: 24%;
  height: 100%;
}

.brand {
  background-color: #333E48;
  height: 286px;
}

.brand .container {
  height: 100%;
  padding: 0;
}

.brand .container img {
  cursor: pointer;
  padding: 0px 78px;
}

.marketo {
  height: 400px;
}

.marketo .container {
  height: 100%;
  margin-top: 100px;
  padding: 0;
}

.marketo .container .marketo-left {
  width: 20%;
  height: 100%;
}

.marketo .container .marketo-left .question {
  color: #999;
  font-size: 22px;
  font-weight: 300;
  margin-top: 56px;
}

.marketo .container .marketo-left .phone {
  color: #444;
  font-size: 22px;
  font-weight: 500;
  line-height: 31.9px;
  margin-bottom: 12px;
}

.marketo .container .marketo-left .address {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 20px;
}

.marketo .container .marketo-left button {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 17px 32px 17px 32px;
  background-color: #fed700;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.marketo .container .marketo-left button i {
  margin-right: 5px;
}

.marketo .container .marketo-left button:hover {
  background-color: #83B735;
}

.marketo .container .marketo-middle {
  width: 45%;
  height: 100%;
  padding-top: 45px;
  padding-left: 120px;
}

.marketo .container .marketo-middle .using {
  color: #999;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.marketo .container .marketo-middle .safe {
  color: #444;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 24px;
}

.marketo .container .marketo-middle .logo-brand-safe {
  margin-bottom: 30px;
}

.marketo .container .marketo-middle .logo-brand-safe .mar-left-right {
  margin: 0 18px;
}

.marketo .container .marketo-middle .secured {
  color: #1C1C24;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.marketo .container .marketo-middle .logo-brand-secured .mar-left {
  margin-right: 8px;
}

.marketo .container .marketo-right {
  width: 25%;
  height: 100%;
  position: relative;
  margin-right: 80px;
}

.marketo .container .marketo-right .marketo-links h3 {
  margin-bottom: 27px;
}

.marketo .container .marketo-right .marketo-links li {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 17px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.marketo .container .marketo-right .marketo-links li:hover {
  color: #0063d1;
}

.marketo .container .marketo-right button {
  position: absolute;
  right: -35%;
  top: 29%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding: 16px 35px;
  background-color: #fed700;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.marketo .container .marketo-right button span {
  position: relative;
  z-index: 1;
}

.marketo .container .marketo-right button span i {
  margin-left: 10px;
}

footer {
  height: 81px;
  background-color: #fed700;
}

footer .container {
  height: 100%;
  padding: 0;
}

footer .container p {
  color: #777;
  font-size: 14px;
  font-weight: 500;
}

footer .container p span {
  color: #333E48;
  font-size: 16px;
  font-weight: 500;
}

footer .container .brand-contact span {
  cursor: pointer;
  margin-right: 15px;
  color: #333E48;
  font-size: 14px;
  font-weight: 500;
}

footer .container .brand-contact span i {
  font-size: 14;
  padding-right: 2px;
}
/*# sourceMappingURL=main.css.map */